.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: var(--line-height-dense);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--space-1);
  cursor: pointer;
  text-decoration: none;
  background: var(--color-interactive-background-default-neutral);
  color: var(--color-interactive-foreground-default-neutral);
  border: var(--border-width-hairline) solid
    var(--color-interactive-border-default-neutral);
}

.button:hover {
  background: var(--color-interactive-background-hover-neutral);
  color: var(--color-interactive-foreground-hover-neutral);
  border-color: var(--color-interactive-border-hover-neutral);
}

.button:active {
  background: var(--color-interactive-background-active-neutral);
  color: var(--color-interactive-foreground-active-neutral);
  border-color: var(--color-interactive-border-active-neutral);
}

.button:focus-visible {
  background: var(--color-interactive-background-focus-neutral);
  color: var(--color-interactive-foreground-focus-neutral);
  border-color: var(--color-interactive-border-focus-neutral);
  outline-offset: var(--space-1);
}

.button-small {
  padding: var(--space-1) var(--space-2);
}

/*
.button-primary.button-selected {
  background: var(--color-interactive-selected);
  border-color: var(--color-interactive-border-selected);
}

.button-primary.button-selected:hover {
  background: var(--color-interactive-selected-hover);
}

.button-primary.button-selected:active {
  background: var(--color-interactive-selected-active);
}

.button-primary.button-selected:focus-visible {
  outline-color: var(--color-interactive-focus);
}
*/

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.button-text {
  display: inline-block;
}
