.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.app-main {
  display: grid;
  grid-template-columns: var(--size-sidebar) 1fr;
  overflow: hidden;
  min-height: 0;
}

.app-content {
  overflow-y: auto;
  display: grid;
  place-items: stretch;
  background: var(--color-background-neutral);
  min-height: 0;
}
