@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@300..700&family=Inconsolata:wght@200..900&family=Metamorphous&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  font-size: inherit;
}

p {
  line-height: var(--line-height-normal);
}

input,
button,
textarea,
select,
a {
  outline-color: var(--color-interactive-outline-focus-neutral);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

:root {
  color-scheme: light dark;
  color: var(--color-foreground-neutral);
  background-color: var(--color-background-neutral);
  font-family: var(--font-family-default);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height-dense);

  /* Color variables */
  --color-gray-0: oklch(100% 0 257.671deg);
  --color-gray-50: oklch(95.833% 0.018 257.671deg);
  --color-gray-100: oklch(92.708% 0.018 257.671deg);
  --color-gray-150: oklch(88.542% 0.028 257.671deg);
  --color-gray-200: oklch(84.375% 0.028 257.671deg);
  --color-gray-250: oklch(80.208% 0.028 257.671deg);
  --color-gray-300: oklch(76.042% 0.028 257.671deg);
  --color-gray-350: oklch(72.917% 0.028 257.671deg);
  --color-gray-400: oklch(68.75% 0.028 257.671deg);
  --color-gray-450: oklch(63.542% 0.028 257.671deg);
  --color-gray-500: oklch(59.375% 0.028 257.671deg);
  --color-gray-550: oklch(55.208% 0.028 257.671deg);
  --color-gray-600: oklch(51.042% 0.028 257.671deg);
  --color-gray-650: oklch(46.875% 0.028 257.671deg);
  --color-gray-700: oklch(41.667% 0.028 257.671deg);
  --color-gray-750: oklch(37.5% 0.028 257.671deg);
  --color-gray-800: oklch(32.292% 0.028 257.671deg);
  --color-gray-850: oklch(27.083% 0.028 257.671deg);
  --color-gray-900: oklch(21.875% 0.028 257.671deg);
  --color-gray-950: oklch(15.625% 0.028 257.671deg);
  --color-gray-1000: oklch(8.333% 0.028 257.671deg);
  --color-red-0: oklch(100% 0 22.982deg);
  --color-red-50: oklch(95.833% 0 22.982deg);
  --color-red-100: oklch(92.708% 0.035 22.982deg);
  --color-red-150: oklch(88.542% 0.035 22.982deg);
  --color-red-200: oklch(85.417% 0.071 22.982deg);
  --color-red-250: oklch(81.25% 0.095 22.982deg);
  --color-red-300: oklch(78.125% 0.118 22.982deg);
  --color-red-350: oklch(73.958% 0.142 22.982deg);
  --color-red-400: oklch(69.792% 0.142 22.982deg);
  --color-red-450: oklch(65.625% 0.142 22.982deg);
  --color-red-500: oklch(61.458% 0.142 22.982deg);
  --color-red-550: oklch(57.292% 0.142 22.982deg);
  --color-red-600: oklch(53.125% 0.142 22.982deg);
  --color-red-650: oklch(47.917% 0.142 22.982deg);
  --color-red-700: oklch(43.75% 0.142 22.982deg);
  --color-red-750: oklch(38.542% 0.142 22.982deg);
  --color-red-800: oklch(35.417% 0.142 22.982deg);
  --color-red-850: oklch(32.292% 0.13 22.982deg);
  --color-red-900: oklch(27.083% 0.106 22.982deg);
  --color-red-950: oklch(23.958% 0.095 22.982deg);
  --color-red-1000: oklch(20.833% 0.083 22.982deg);
  --color-yellow-0: oklch(100% 0 71.911deg);
  --color-yellow-50: oklch(95.833% 0 71.911deg);
  --color-yellow-100: oklch(92.708% 0.052 71.911deg);
  --color-yellow-150: oklch(88.542% 0.086 71.911deg);
  --color-yellow-200: oklch(84.375% 0.077 71.911deg);
  --color-yellow-250: oklch(81.25% 0.103 71.911deg);
  --color-yellow-300: oklch(77.083% 0.103 71.911deg);
  --color-yellow-350: oklch(72.917% 0.103 71.911deg);
  --color-yellow-400: oklch(68.75% 0.103 71.911deg);
  --color-yellow-450: oklch(64.583% 0.103 71.911deg);
  --color-yellow-500: oklch(60.417% 0.103 71.911deg);
  --color-yellow-550: oklch(56.25% 0.103 71.911deg);
  --color-yellow-600: oklch(51.042% 0.103 71.911deg);
  --color-yellow-650: oklch(46.875% 0.095 71.911deg);
  --color-yellow-700: oklch(42.708% 0.086 71.911deg);
  --color-yellow-750: oklch(37.5% 0.077 71.911deg);
  --color-yellow-800: oklch(32.292% 0.069 71.911deg);
  --color-yellow-850: oklch(28.125% 0.06 71.911deg);
  --color-yellow-900: oklch(25% 0.052 71.911deg);
  --color-yellow-950: oklch(20.833% 0.043 71.911deg);
  --color-yellow-1000: oklch(18.333% 0.043 71.911deg);
  --color-green-0: oklch(100% 0 145.033deg);
  --color-green-50: oklch(95.833% 0.055 145.033deg);
  --color-green-100: oklch(90.625% 0.132 145.033deg);
  --color-green-150: oklch(87.5% 0.121 145.033deg);
  --color-green-200: oklch(83.333% 0.132 145.033deg);
  --color-green-250: oklch(79.167% 0.132 145.033deg);
  --color-green-300: oklch(75% 0.132 145.033deg);
  --color-green-350: oklch(70.833% 0.132 145.033deg);
  --color-green-400: oklch(66.667% 0.132 145.033deg);
  --color-green-450: oklch(62.5% 0.132 145.033deg);
  --color-green-500: oklch(58.333% 0.132 145.033deg);
  --color-green-550: oklch(54.167% 0.132 145.033deg);
  --color-green-600: oklch(50% 0.132 145.033deg);
  --color-green-650: oklch(44.792% 0.132 145.033deg);
  --color-green-700: oklch(40.625% 0.121 145.033deg);
  --color-green-750: oklch(36.458% 0.11 145.033deg);
  --color-green-800: oklch(32.292% 0.099 145.033deg);
  --color-green-850: oklch(28.125% 0.088 145.033deg);
  --color-green-900: oklch(25% 0.077 145.033deg);
  --color-green-950: oklch(21.875% 0.066 145.033deg);
  --color-green-1000: oklch(17.708% 0.055 145.033deg);
  --color-turquoise-0: oklch(100% 0 224.452deg);
  --color-turquoise-50: oklch(95.833% 0.022 224.452deg);
  --color-turquoise-100: oklch(91.667% 0.05 224.452deg);
  --color-turquoise-150: oklch(88.542% 0.039 224.452deg);
  --color-turquoise-200: oklch(84.375% 0.067 224.452deg);
  --color-turquoise-250: oklch(80.208% 0.067 224.452deg);
  --color-turquoise-300: oklch(76.042% 0.067 224.452deg);
  --color-turquoise-350: oklch(71.875% 0.067 224.452deg);
  --color-turquoise-400: oklch(67.708% 0.067 224.452deg);
  --color-turquoise-450: oklch(63.542% 0.067 224.452deg);
  --color-turquoise-500: oklch(59.375% 0.067 224.452deg);
  --color-turquoise-550: oklch(55.208% 0.067 224.452deg);
  --color-turquoise-600: oklch(51.042% 0.067 224.452deg);
  --color-turquoise-650: oklch(45.833% 0.067 224.452deg);
  --color-turquoise-700: oklch(41.667% 0.067 224.452deg);
  --color-turquoise-750: oklch(36.458% 0.067 224.452deg);
  --color-turquoise-800: oklch(33.333% 0.062 224.452deg);
  --color-turquoise-850: oklch(30.208% 0.056 224.452deg);
  --color-turquoise-900: oklch(23.958% 0.045 224.452deg);
  --color-turquoise-950: oklch(20.833% 0.039 224.452deg);
  --color-turquoise-1000: oklch(18.333% 0.039 224.452deg);
  --color-blue-0: oklch(100% 0 259.931deg);
  --color-blue-50: oklch(95.833% 0.019 259.931deg);
  --color-blue-100: oklch(92.708% 0.032 259.931deg);
  --color-blue-150: oklch(88.542% 0.051 259.931deg);
  --color-blue-200: oklch(84.375% 0.076 259.931deg);
  --color-blue-250: oklch(80.208% 0.076 259.931deg);
  --color-blue-300: oklch(76.042% 0.076 259.931deg);
  --color-blue-350: oklch(72.917% 0.076 259.931deg);
  --color-blue-400: oklch(68.75% 0.076 259.931deg);
  --color-blue-450: oklch(64.583% 0.076 259.931deg);
  --color-blue-500: oklch(59.375% 0.076 259.931deg);
  --color-blue-550: oklch(55.208% 0.076 259.931deg);
  --color-blue-600: oklch(51.042% 0.076 259.931deg);
  --color-blue-650: oklch(46.875% 0.076 259.931deg);
  --color-blue-700: oklch(41.667% 0.076 259.931deg);
  --color-blue-750: oklch(37.5% 0.076 259.931deg);
  --color-blue-800: oklch(32.292% 0.076 259.931deg);
  --color-blue-850: oklch(27.083% 0.076 259.931deg);
  --color-blue-900: oklch(21.875% 0.076 259.931deg);
  --color-blue-950: oklch(18.75% 0.076 259.931deg);
  --color-blue-1000: oklch(15.675% 0.076 259.931deg);

  /* Shadow variables */
  --shadow-surface-neutral: 0 0 var(--space-2) var(--color-shadow-neutral);
  --shadow-surface-elevated-neutral: 0 var(--space-1) var(--space-2)
    var(--space-1) var(--color-shadow-neutral);

  /* Font family variables */
  --font-family-display: "Metamorphous", serif;
  --font-family-monospace: "Inconsolata", monospace;
  --font-family-default: "Inclusive Sans", sans-serif;

  /* Font size variables */
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 1.75rem;

  /* Line height variables */
  --line-height-dense: 1;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;
  --line-height-loose: 2;

  /* Spacing variables */
  --space-base: 8px;
  --space-0-25: calc(var(--space-base) * 0.25);
  --space-0-5: calc(var(--space-base) * 0.5);
  --space-1: calc(var(--space-base) * 1);
  --space-2: calc(var(--space-base) * 2);
  --space-3: calc(var(--space-base) * 3);
  --space-4: calc(var(--space-base) * 4);
  --space-5: calc(var(--space-base) * 5);
  --space-6: calc(var(--space-base) * 6);
  --space-7: calc(var(--space-base) * 7);
  --space-8: calc(var(--space-base) * 8);

  /* Border variables */
  --border-width-surface: 1px;
  --border-width-interactive: 2px;
  --border-width-interactive-hairline: 1px;

  /* Element sizing variables */
  --size-top-bar: calc(var(--space-base) * 10);
  --size-content: calc(var(--space-base) * 96);
  --size-sidebar: calc(var(--space-base) * 48);
  --size-adventure-card: calc(var(--space-base) * 32);
  --size-title-input-min-width: calc(var(--space-base) * 24);
  --size-modal-dialog-max-width: calc(var(--space-base) * 72);
  --size-context-menu-min-width: calc(var(--space-base) * 20);
  --size-toggle-button-width: calc(var(--space-base) * 5);
  --size-toggle-button-height: calc(var(--space-base) * 3);

  /* Transition and animation duration variables */
  --duration-fast: 125ms;
  --duration-medium: 200ms;
  --duration-slow: 375ms;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Neutral colors */
    --color-background-neutral: var(--color-gray-100);
    --color-foreground-neutral: var(--color-gray-900);
    --color-foreground-muted-neutral: var(--color-gray-700);
    --color-background-surface-neutral: var(--color-gray-150);
    --color-border-surface-neutral: var(--color-gray-200);
    --color-interactive-background-default-neutral: var(--color-gray-200);
    --color-interactive-foreground-default-neutral: var(--color-gray-900);
    --color-interactive-border-default-neutral: var(--color-gray-250);
    --color-interactive-background-hover-neutral: var(--color-gray-250);
    --color-interactive-foreground-hover-neutral: var(--color-gray-900);
    --color-interactive-border-hover-neutral: var(--color-gray-300);
    --color-interactive-background-active-neutral: var(--color-gray-300);
    --color-interactive-foreground-active-neutral: var(--color-gray-900);
    --color-interactive-border-active-neutral: var(--color-gray-350);
    --color-interactive-background-focus-neutral: var(--color-gray-250);
    --color-interactive-foreground-focus-neutral: var(--color-gray-900);
    --color-interactive-border-focus-neutral: var(--color-gray-300);
    --color-interactive-outline-focus-neutral: var(--color-turquoise-500);
    --color-interactive-background-disabled-neutral: var(--color-gray-450);
    --color-interactive-foreground-disabled-neutral: var(--color-gray-850);
    --color-interactive-border-disabled-neutral: var(--color-gray-500);
    --color-interactive-background-input-neutral: var(--color-gray-50);
    --color-interactive-foreground-input-neutral: var(--color-gray-800);
    --color-interactive-border-input-neutral: var(--color-gray-150);
    --color-shadow-neutral: color-mix(
      in srgb,
      var(--color-gray-1000) 25%,
      transparent
    );

    /* Primary colors */
    --color-background-primary: var(--color-turquoise-100);
    --color-foreground-primary: var(--color-turquoise-900);
    --color-foreground-primary-muted: var(--color-turquoise-700);
    --color-background-surface-primary: var(--color-turquoise-150);
    --color-border-surface-primary: var(--color-turquoise-200);
    --color-interactive-background-default-primary: var(--color-turquoise-200);
    --color-interactive-foreground-default-primary: var(--color-turquoise-900);
    --color-interactive-border-default-primary: var(--color-turquoise-250);
    --color-interactive-background-hover-primary: var(--color-turquoise-250);
    --color-interactive-foreground-hover-primary: var(--color-turquoise-900);
    --color-interactive-border-hover-primary: var(--color-turquoise-300);
    --color-interactive-background-active-primary: var(--color-turquoise-300);
    --color-interactive-foreground-active-primary: var(--color-turquoise-900);
    --color-interactive-border-active-primary: var(--color-turquoise-350);
    --color-interactive-background-focus-primary: var(--color-turquoise-250);
    --color-interactive-foreground-focus-primary: var(--color-turquoise-900);
    --color-interactive-border-focus-primary: var(--color-turquoise-300);
    --color-interactive-outline-focus-primary: var(--color-turquoise-500);
    --color-interactive-background-disabled-primary: var(--color-turquoise-450);
    --color-interactive-foreground-disabled-primary: var(--color-turquoise-850);
    --color-interactive-border-disabled-primary: var(--color-turquoise-500);
    --color-interactive-background-input-primary: var(--color-turquoise-50);
    --color-interactive-foreground-input-primary: var(--color-turquoise-200);
    --color-interactive-border-input-primary: var(--color-turquoise-150);
    --color-shadow-primary: color-mix(
      in srgb,
      var(--color-turquoise-1000) 25%,
      transparent
    );

    /* Danger colors */
    --color-background-danger: var(--color-red-100);
    --color-foreground-danger: var(--color-red-900);
    --color-foreground-danger-muted: var(--color-red-700);
    --color-background-surface-danger: var(--color-red-150);
    --color-border-surface-danger: var(--color-red-200);
    --color-interactive-background-default-danger: var(--color-red-200);
    --color-interactive-foreground-default-danger: var(--color-red-900);
    --color-interactive-border-default-danger: var(--color-red-250);
    --color-interactive-background-hover-danger: var(--color-red-250);
    --color-interactive-foreground-hover-danger: var(--color-red-900);
    --color-interactive-border-hover-danger: var(--color-red-300);
    --color-interactive-background-active-danger: var(--color-red-300);
    --color-interactive-foreground-active-danger: var(--color-red-900);
    --color-interactive-border-active-danger: var(--color-red-350);
    --color-interactive-background-focus-danger: var(--color-red-250);
    --color-interactive-foreground-focus-danger: var(--color-red-900);
    --color-interactive-border-focus-danger: var(--color-red-300);
    --color-interactive-outline-focus-danger: var(--color-red-500);
    --color-interactive-background-disabled-danger: var(--color-red-450);
    --color-interactive-foreground-disabled-danger: var(--color-red-850);
    --color-interactive-border-disabled-danger: var(--color-red-500);
    --color-interactive-background-input-danger: var(--color-red-50);
    --color-interactive-foreground-input-danger: var(--color-red-200);
    --color-interactive-border-input-danger: var(--color-red-150);
    --color-shadow-danger: color-mix(
      in srgb,
      var(--color-red-1000) 25%,
      transparent
    );

    /* Info colors */
    --color-background-info: var(--color-blue-100);
    --color-foreground-info: var(--color-blue-900);
    --color-foreground-info-muted: var(--color-blue-700);
    --color-background-surface-info: var(--color-blue-150);
    --color-border-surface-info: var(--color-blue-200);
    --color-interactive-background-default-info: var(--color-blue-200);
    --color-interactive-foreground-default-info: var(--color-blue-900);
    --color-interactive-border-default-info: var(--color-blue-250);
    --color-interactive-background-hover-info: var(--color-blue-250);
    --color-interactive-foreground-hover-info: var(--color-blue-900);
    --color-interactive-border-hover-info: var(--color-blue-300);
    --color-interactive-background-active-info: var(--color-blue-300);
    --color-interactive-foreground-active-info: var(--color-blue-900);
    --color-interactive-border-active-info: var(--color-blue-350);
    --color-interactive-background-focus-info: var(--color-blue-250);
    --color-interactive-foreground-focus-info: var(--color-blue-900);
    --color-interactive-border-focus-info: var(--color-blue-300);
    --color-interactive-outline-focus-info: var(--color-blue-500);
    --color-interactive-background-disabled-info: var(--color-blue-450);
    --color-interactive-foreground-disabled-info: var(--color-blue-850);
    --color-interactive-border-disabled-info: var(--color-blue-500);
    --color-interactive-background-input-info: var(--color-blue-50);
    --color-interactive-foreground-input-info: var(--color-blue-200);
    --color-interactive-border-input-info: var(--color-blue-150);
    --color-shadow-info: color-mix(
      in srgb,
      var(--color-blue-1000) 25%,
      transparent
    );
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Neutral colors */
    --color-background-neutral: var(--color-gray-900);
    --color-foreground-neutral: var(--color-gray-100);
    --color-foreground-neutral-muted: var(--color-gray-300);
    --color-background-surface-neutral: var(--color-gray-850);
    --color-border-surface-neutral: var(--color-gray-800);
    --color-interactive-background-default-neutral: var(--color-gray-800);
    --color-interactive-foreground-default-neutral: var(--color-gray-100);
    --color-interactive-border-default-neutral: var(--color-gray-750);
    --color-interactive-background-hover-neutral: var(--color-gray-750);
    --color-interactive-foreground-hover-neutral: var(--color-gray-100);
    --color-interactive-border-hover-neutral: var(--color-gray-700);
    --color-interactive-background-active-neutral: var(--color-gray-700);
    --color-interactive-foreground-active-neutral: var(--color-gray-100);
    --color-interactive-border-active-neutral: var(--color-gray-650);
    --color-interactive-background-focus-neutral: var(--color-gray-750);
    --color-interactive-foreground-focus-neutral: var(--color-gray-100);
    --color-interactive-border-focus-neutral: var(--color-gray-700);
    --color-interactive-outline-focus-neutral: var(--color-turquoise-300);
    --color-interactive-background-disabled-neutral: var(--color-gray-550);
    --color-interactive-foreground-disabled-neutral: var(--color-gray-150);
    --color-interactive-border-disabled-neutral: var(--color-gray-500);
    --color-interactive-background-input-neutral: var(--color-gray-950);
    --color-interactive-foreground-input-neutral: var(--color-gray-200);
    --color-interactive-border-input-neutral: var(--color-gray-850);
    --color-shadow-neutral: color-mix(
      in srgb,
      var(--color-gray-1000) 25%,
      transparent
    );

    /* Primary colors */
    --color-background-primary: var(--color-turquoise-900);
    --color-foreground-primary: var(--color-turquoise-100);
    --color-foreground-primary-muted: var(--color-turquoise-300);
    --color-background-surface-primary: var(--color-turquoise-850);
    --color-border-surface-primary: var(--color-turquoise-800);
    --color-interactive-background-default-primary: var(--color-turquoise-800);
    --color-interactive-foreground-default-primary: var(--color-turquoise-100);
    --color-interactive-border-default-primary: var(--color-turquoise-750);
    --color-interactive-background-hover-primary: var(--color-turquoise-750);
    --color-interactive-foreground-hover-primary: var(--color-turquoise-100);
    --color-interactive-border-hover-primary: var(--color-turquoise-700);
    --color-interactive-background-active-primary: var(--color-turquoise-700);
    --color-interactive-foreground-active-primary: var(--color-turquoise-100);
    --color-interactive-border-active-primary: var(--color-turquoise-650);
    --color-interactive-background-focus-primary: var(--color-turquoise-750);
    --color-interactive-foreground-focus-primary: var(--color-turquoise-100);
    --color-interactive-border-focus-primary: var(--color-turquoise-700);
    --color-interactive-outline-focus-primary: var(--color-turquoise-300);
    --color-interactive-background-disabled-primary: var(--color-turquoise-550);
    --color-interactive-foreground-disabled-primary: var(--color-turquoise-150);
    --color-interactive-border-disabled-primary: var(--color-turquoise-500);
    --color-interactive-background-input-primary: var(--color-turquoise-950);
    --color-interactive-foreground-input-primary: var(--color-turquoise-200);
    --color-interactive-border-input-primary: var(--color-turquoise-850);
    --color-shadow-primary: color-mix(
      in srgb,
      var(--color-turquoise-1000) 25%,
      transparent
    );

    /* Danger colors */
    --color-background-danger: var(--color-red-900);
    --color-foreground-danger: var(--color-red-100);
    --color-foreground-danger-muted: var(--color-red-300);
    --color-background-surface-danger: var(--color-red-850);
    --color-border-surface-danger: var(--color-red-800);
    --color-interactive-background-default-danger: var(--color-red-800);
    --color-interactive-foreground-default-danger: var(--color-red-100);
    --color-interactive-border-default-danger: var(--color-red-750);
    --color-interactive-background-hover-danger: var(--color-red-750);
    --color-interactive-foreground-hover-danger: var(--color-red-100);
    --color-interactive-border-hover-danger: var(--color-red-700);
    --color-interactive-background-active-danger: var(--color-red-700);
    --color-interactive-foreground-active-danger: var(--color-red-100);
    --color-interactive-border-active-danger: var(--color-red-650);
    --color-interactive-background-focus-danger: var(--color-red-750);
    --color-interactive-foreground-focus-danger: var(--color-red-100);
    --color-interactive-border-focus-danger: var(--color-red-700);
    --color-interactive-outline-focus-danger: var(--color-red-500);
    --color-interactive-background-disabled-danger: var(--color-red-550);
    --color-interactive-foreground-disabled-danger: var(--color-red-150);
    --color-interactive-border-disabled-danger: var(--color-red-500);
    --color-interactive-background-input-danger: var(--color-red-950);
    --color-interactive-foreground-input-danger: var(--color-red-200);
    --color-interactive-border-input-danger: var(--color-red-850);
    --color-shadow-danger: color-mix(
      in srgb,
      var(--color-red-1000) 25%,
      transparent
    );

    /* Info colors */
    --color-background-info: var(--color-blue-900);
    --color-foreground-info: var(--color-blue-100);
    --color-foreground-info-muted: var(--color-blue-300);
    --color-background-surface-info: var(--color-blue-850);
    --color-border-surface-info: var(--color-blue-800);
    --color-interactive-background-default-info: var(--color-blue-800);
    --color-interactive-foreground-default-info: var(--color-blue-100);
    --color-interactive-border-default-info: var(--color-blue-750);
    --color-interactive-background-hover-info: var(--color-blue-750);
    --color-interactive-foreground-hover-info: var(--color-blue-100);
    --color-interactive-border-hover-info: var(--color-blue-700);
    --color-interactive-background-active-info: var(--color-blue-700);
    --color-interactive-foreground-active-info: var(--color-blue-100);
    --color-interactive-border-active-info: var(--color-blue-650);
    --color-interactive-background-focus-info: var(--color-blue-750);
    --color-interactive-foreground-focus-info: var(--color-blue-100);
    --color-interactive-border-focus-info: var(--color-blue-700);
    --color-interactive-outline-focus-info: var(--color-blue-500);
    --color-interactive-background-disabled-info: var(--color-blue-550);
    --color-interactive-foreground-disabled-info: var(--color-blue-150);
    --color-interactive-border-disabled-info: var(--color-blue-500);
    --color-interactive-background-input-info: var(--color-blue-950);
    --color-interactive-foreground-input-info: var(--color-blue-200);
    --color-interactive-border-input-info: var(--color-blue-850);
    --color-shadow-info: color-mix(
      in srgb,
      var(--color-blue-1000) 25%,
      transparent
    );
  }
}
