* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

:root {
  color-scheme: light dark;
  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-gray-100: #f5f5f5;
  --color-gray-900: #121212;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-foreground: var(--color-gray-900);
    --color-background: var(--color-gray-100);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: var(--color-gray-100);
    --color-background: var(--color-gray-900);
  }
}
