@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Eagle+Lake&family=Inconsolata:wght@200..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: var(--line-height-dense);
}

button {
  font-family: inherit;
  cursor: pointer;
  font-size: inherit;
}

:root {
  color-scheme: light dark;
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: var(--font-family-default);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color variables */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: lch(10% 10.41 270.15deg);
  --color-gray-200: lch(20% 10.41 270.15deg);
  --color-gray-300: lch(30% 10.41 270.15deg);
  --color-gray-400: lch(40% 10.41 270.15deg);
  --color-gray-500: lch(50% 10.41 270.15deg);
  --color-gray-600: lch(60% 10.41 270.15deg);
  --color-gray-700: lch(70% 10.41 270.15deg);
  --color-gray-800: lch(80% 10.41 270.15deg);
  --color-gray-900: lch(90% 10.41 270.15deg);
  --color-red-100: lch(10% 49.527 26.8504deg);
  --color-red-200: lch(20% 49.527 26.8504deg);
  --color-red-300: lch(30% 49.527 26.8504deg);
  --color-red-400: lch(40% 49.527 26.8504deg);
  --color-red-500: lch(50% 49.527 26.8504deg);
  --color-red-600: lch(60% 49.527 26.8504deg);
  --color-red-700: lch(70% 49.527 26.8504deg);
  --color-red-800: lch(80% 49.527 26.8504deg);
  --color-red-900: lch(90% 49.527 26.8504deg);
  --color-yellow-100: lch(10% 44.1234 73.9212deg);
  --color-yellow-200: lch(20% 44.1234 73.9212deg);
  --color-yellow-300: lch(30% 44.1234 73.9212deg);
  --color-yellow-400: lch(40% 44.1234 73.9212deg);
  --color-yellow-500: lch(50% 44.1234 73.9212deg);
  --color-yellow-600: lch(60% 44.1234 73.9212deg);
  --color-yellow-700: lch(70% 44.1234 73.9212deg);
  --color-yellow-800: lch(80% 44.1234 73.9212deg);
  --color-yellow-900: lch(90% 44.1234 73.9212deg);
  --color-green-100: lch(10% 42.3209 116.25deg);
  --color-green-200: lch(20% 42.3209 116.25deg);
  --color-green-300: lch(30% 42.3209 116.25deg);
  --color-green-400: lch(40% 42.3209 116.25deg);
  --color-green-500: lch(50% 42.3209 116.25deg);
  --color-green-600: lch(60% 42.3209 116.25deg);
  --color-green-700: lch(70% 42.3209 116.25deg);
  --color-green-800: lch(80% 42.3209 116.25deg);
  --color-green-900: lch(90% 42.3209 116.25deg);
  --color-blue-100: lch(10% 21.0533 234.006deg);
  --color-blue-200: lch(20% 21.0533 234.006deg);
  --color-blue-300: lch(30% 21.0533 234.006deg);
  --color-blue-400: lch(40% 21.0533 234.006deg);
  --color-blue-500: lch(50% 21.0533 234.006deg);
  --color-blue-600: lch(60% 21.0533 234.006deg);
  --color-blue-700: lch(70% 21.0533 234.006deg);
  --color-blue-800: lch(80% 21.0533 234.006deg);
  --color-blue-900: lch(90% 21.0533 234.006deg);

  /* Shadow color variables with opacity based on color variables */
  --color-shadow-black: color-mix(in srgb, var(--color-black) 10%, transparent);
  --color-shadow-black-md: color-mix(
    in srgb,
    var(--color-black) 20%,
    transparent
  );
  --color-shadow-black-lg: color-mix(
    in srgb,
    var(--color-black) 30%,
    transparent
  );

  /* Shadow variables */
  --shadow-default: 0 var(--space-1) var(--space-2) var(--shadow-primary);
  --shadow-hover: 0 var(--space-1) var(--space-3) var(--shadow-secondary);
  --shadow-active: 0 2px var(--space-1) var(--shadow-primary);

  /* Font family variables */
  --font-family-display: "Eagle Lake", serif;
  --font-family-monospace: "Inconsolata", monospace;
  --font-family-default: "Atkinson Hyperlegible Next", sans-serif;

  /* Font size variables */
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-xl: 1.75rem;

  /* Line height variables */
  --line-height-dense: 1;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;
  --line-height-loose: 2;

  /* Spacing variables */
  --space-base: 8px;
  --space-1: calc(var(--space-base) * 1);
  --space-2: calc(var(--space-base) * 2);
  --space-3: calc(var(--space-base) * 3);
  --space-4: calc(var(--space-base) * 4);
  --space-5: calc(var(--space-base) * 5);

  /* Element sizing variables */
  --size-content: calc(var(--space-base) * 96);
  --size-sidebar: calc(var(--space-base) * 48);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-foreground: var(--color-gray-200);
    --color-background: var(--color-white);
    --color-border-hairline: color-mix(
      in srgb,
      var(--color-gray-200) 50%,
      transparent
    );
    --color-border-subtle: var(--color-gray-700);
    --color-button-primary: var(--color-gray-200);
    --color-button-primary-hover: var(--color-gray-300);
    --color-button-border: var(--color-gray-300);
    --color-error: var(--color-red-600);
    --color-code-background: var(--color-white);
    --color-code-border: var(--color-gray-900);
    --color-on-primary: var(--color-white);
    --shadow-primary: var(--color-shadow-black);
    --shadow-secondary: var(--color-shadow-black-md);
    --color-border-accent: var(--color-blue-500);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: var(--color-gray-800);
    --color-background: var(--color-gray-200);
    --color-border-hairline: color-mix(
      in srgb,
      var(--color-gray-300) 50%,
      transparent
    );
    --color-border-subtle: var(--color-gray-400);
    --color-button-primary: var(--color-gray-400);
    --color-button-primary-hover: var(--color-gray-500);
    --color-button-border: var(--color-gray-500);
    --color-error: var(--color-red-600);
    --color-code-background: var(--color-gray-300);
    --color-code-border: var(--color-gray-400);
    --color-on-primary: var(--color-white);
    --shadow-primary: var(--color-shadow-black-md);
    --shadow-secondary: var(--color-shadow-black-lg);
    --color-background-accent: var(--color-blue-200);
    --color-border-accent: var(--color-blue-300);
  }
}
